 /* div{
    width:  6rem 12rem ;
    height:  20rem ;
    width: 36rem ;
    background-size: 100% 100%;
    box-shadow: 20px 20px 10px gray;
    animation: slider 10s linear infinite;
} */
/* img{
    width: 100%;
    object-fit: cover;
} */
/* @keyframes slider {
    0%{
        background-image: url(./img/1.jpg);
    }
    25%{
        background-image: url(./img/2.jpg);
    }
    50%{
        background-image: url(./img/3.jpg);
    }
    75%{
        background-image: url(./img/4.jpg);
    }
    100%{
        background-image: url(./img/5.jpg);
    }
}  */

.slider {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    transition: opacity 2s ease-in-out;
    animation: area 5s linear infinite;
}

.slider img.active {
    opacity: 1;
}
